@model IEnumerable<LanchesMac.Models.Lanche>


<div><h2>Todos os Lanches</h2></div>

@foreach (var lanche in Model)
{
    <div>
        <h2>Lanche: @lanche.Nome</h2>
        <p><img src="@lanche.ImageUrl" width="100px" height="100px"/></p>
        <p>Preço: @lanche.Preco.ToString("c")</p>
    </div>
}

